<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
    演示数据库连接串
    DBHelper2可以默认调用name="ConnectionString"的连接串。
    如果省略providerName，默认为SQLHelper
    -->
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\j_i_a\Documents\Visual Studio 2015\Projects\DBHelper2\DBHelper2Demo\AdventureWorks\AdventureWorks2012_Data.mdf;Integrated Security=True;" providerName="SQLHelper"/>
  </connectionStrings>
</configuration>
